Asistencia/bin/
Asistencia/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Asistencia/obj/
packages/
Asistencia.Tests/
Asistencia/Properties/PublishProfiles/FolderProfile.pubxml
Asistencia/Properties/PublishProfiles/
