
@{
    ViewBag.Title = "Evento inactivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align:center">
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="font-size:50px !important;color:yellow"></span>
    <br />
    <div><h3>El evento <strong>@ViewBag.NombreEvento</strong> no se encuentra habilitado, no se puede diligenciar la asistencia</h3></div>

</div>