
@{
    ViewBag.Title = "QR asistencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="form-horizontal">
        
        <div class="form-group">
            @if (ViewBag.imageBytes != null)
            {
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewBag.imageBytes))" class="img-responsive center-block w-50" alt="Responsive image"  style=" max-width:480px"/>
            }
        </div>

            <div class="form-group">
                <input type="button" value="Volver" onclick="location.href='@Url.Action("Index","Eventos")'" class="btn btn-default" />
            </div>

    </div>

